.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Home .HeaderExtra {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Home .HeaderExtra button {
  margin-left: 1em;
}

.Home .ant-page-header-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home .StartButton {
  height: 54px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.Home .SessionList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.Home .SessionList .ant-card-body {
  padding: 0.5em;
}

.Home .SessionListContent {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home .SessionList .SessionItem {
  display: flex;
}

.Home .SessionList .SessionItem button {
  margin: 0.25em 0;
  height: 4em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
}
