.ant-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn svg {
  margin-right: 0.5em;
  font-size: 1.4em;
}

.ant-popover-buttons {
  display: flex;
}

.ant-form-item {
  margin-bottom: 0;
}

.ant-card-head-title {
  padding: 0;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-page-header-back-button {
  font-size: 2em;
  margin-left: 3em;
  margin-right: -2em;
}

.ant-page-header-heading-title {
  font-size: 2em;
  margin-left: 3em;
}
